@using Incoding.Extensions
@model Incoding.SiteTest.AddProductCommand
<!DOCTYPE html>
<html>
<head>
    <title></title>

    @Html.Incoding().Link(Url.Content("~/Content/bootstrap.css"))
    @Html.Incoding().Link(Url.Content("~/Content/bootstrap-theme.css"))
    

    @Html.Incoding().Script(Url.Content("~/Scripts/jquery-1.7.2.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/underscore.js"))

    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.form.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.history.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.validate.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/mustache.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/handlebars.js"))

    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.url.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.core.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.helper.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.engine.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.executable.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.conditional.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.trace.js"))
    <script>
        TemplateFactory.Version = '@Guid.NewGuid().ToString()'
    </script>
</head>
<body>
    <form class="form-horizontal">
        <a href="@Url.Dispatcher().AsView("~/Views/Labs/Bind/Inc_Ajax_Error.cshtml")">Test</a>
        @Html.ForGroup(r=>r.Name).TextBox(control =>
                                          {
                                              control.Label.Name = "Name";                                              
                                          })
        @Html.ForGroup(r=>r.Name).TextBox(control =>
                                          {
                                              control.Label.Name = "Name 2";                                              
                                              control.AddClass(B.Col_xs_offset_4);
                                          })        
        @Html.ForGroup(r=>r.Name).TextBox(control =>
                                          {
                                              control.Label.Name = "Name 2";                                              
                                              control.AddClass(B.Col_xs_offset_4);
                                          })
    </form>
</body>
</html>