@using Incoding.MvcContrib
@using Incoding.SiteTest
@using Incoding.SiteTest.Domain
@model AddProductCommand
<!DOCTYPE html>
<html>
<head>
    <title></title>

    @Html.Incoding().Link(Url.Content("~/Content/bootstrap.css"))
    @Html.Incoding().Link(Url.Content("~/Content/bootstrap-theme.css"))


    @Html.Incoding().Script(Url.Content("~/Scripts/jquery-1.7.2.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/underscore.js"))

    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.form.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.history.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.validate.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/mustache.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/handlebars.js"))

    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.url.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.core.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.helper.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.engine.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.executable.js"))
    @Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.conditional.js"))
    @*@Html.Incoding().Script(Url.Content("~/Scripts/incoding.meta.trace.js"))*@
    <script>
        TemplateFactory.Version = '@Guid.NewGuid().ToString()'
    </script>
</head>
<body>
@Html.ForGroup(r => r.Name2).DropDown(control =>
                                      {
                                          control.Input.Data.Optional = "";
                                          control.Input.Data = new List<KeyValueVm>()
                                                               {
                                                                       new KeyValueVm(1, "1"),
                                                                       new KeyValueVm(2, "2"),
                                                               }.ToOptGroup();
                                      })
</body>
</html>