@Html.Incoding().RenderDropDownTemplate()
<script>
    ExecutableInsert.Template = new IncHandlerbarsTemplate();
</script>


<body>
@Html.Incoding().RenderDropDownTemplate()
@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountry", "Labs");
                                         control.Label.Name = "Should be first";
                                     })
@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountryWithSelected", "Labs");
                                         control.Label.Name = "Should be selected UK";
                                     })
@Html.ForGroup(r => r.HasValue).DropDown(control =>
                                         {
                                             control.Input.Data = Url.Action("FetchCountry", "Labs");
                                             control.Label.Name = "Should be USA";
                                         })
@Html.ForGroup(r => r.HasValue).DropDown(control =>
                                         {
                                             control.Input.Data = Url.Action("FetchCountryWithSelected", "Labs");
                                             control.Label.Name = "Should be selected USA";
                                         })

@Html.ForGroup(r => r.HasValue).DropDown(control =>
                                         {
                                             control.Input.Data = Url.Action("FetchCountry", "Labs");
                                             control.Label.Name = "Should be selected USA (with optional)";
                                             control.Input.Data.Optional = "";
                                         })
@Html.ForGroup(r => r.HasValue).DropDown(control =>
                                         {
                                             control.Input.Data = Url.Action("FetchCountryWithSelected", "Labs");
                                             control.Label.Name = "Should be selected USA (with optional and )";
                                             control.Input.Data.Optional = "";
                                         })
@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountry", "Labs");
                                         control.Input.Data.Optional = new KeyValueVm("", "");
                                         control.Label.Name = "Should be empty (optional)";
                                     })
@Html.ForGroup(r => r.NameAsNull).DropDown(control =>
                                           {
                                               control.Input.Data = Url.Action("FetchCountry", "Labs");
                                               control.Input.Data.Optional = new KeyValueVm("", "");
                                               control.Label.Name = "Should be empty (optional) with value null";
                                           })
@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountryWithSelected", "Labs");
                                         control.Input.Data.Optional = "";
                                         control.Label.Name = "Should be UK";
                                     })

@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountry", "Labs");
                                         control.Input.Data.Optional = new KeyValueVm(Guid.Empty);
                                         control.Label.Name = "Should be guide empty";
                                     })

@Html.ForGroup(r => r.Name).DropDown(control =>
                                     {
                                         control.Input.Data = Url.Action("FetchCountry", "Labs");
                                         control.Input.Data.Optional = new[]
                                                                       {
                                                                               new KeyValueVm(Guid.Empty),
                                                                               new KeyValueVm("", "All", true),
                                                                       };
                                         control.Label.Name = "Should be ALL";
                                     })


@Html.ForGroup(r => r.NameAsNull).DropDown(control =>
                                           {
                                               control.Input.InitBind = JqueryBind.InitIncoding | JqueryBind.None;
                                               control.Input.Data = Url.Action("FetchCountry", "Labs");
                                               control.Input.Data.Optional = new KeyValueVm("", "");
                                               control.Input.AddClass("test");
                                               control.Label.Name = "Should be empty (optional) with value null (with trigger)";
                                           })
@(Html.When(JqueryBind.Click)
      .OnSuccess(dsl => dsl.WithClass("test").Trigger.None())
      .AsHtmlAttributes()
      .ToButton("Send none"))


</body>